/* || HERO SECTION */
#hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: var(--block_padding) var(--inline_padding);
}

#hero_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 0.9375rem;
}

#hero_canvas {
    border-radius: 0.9375rem;
    background: radial-gradient(60.78% 60.78% at 50% 50%, #465072 0%, #292E3A 100%);
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #5e9978 0%, #496755 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #467259 0%, #293a30 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #46726c 0%, #293a36 100%); */
    cursor: move;
    transform: transale3d(0,0,0);
}

#hero_hint {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 1.75rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    color: var(--light_50);
    text-align: center;
    font-family: "Geist Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    user-select: none;
    /* animation: blinking 6s infinite; */
}

@media (max-width: 768px) {
    #hero_section {
        height: 90svh;
    }
    
    #hero_hint {
        visibility: hidden;
    }
    #hero_hint::after {
        content: "Double-tap or press enter to start.";
        visibility: visible;
    }
}

@media(max-width: 430px) {
    #hero_hint {
        padding-inline: 1rem;
        font-size: 0.875rem;
        bottom: 1.5rem;
    }
}

/* 
@keyframes blinking {
    0%, 100% {
        letter-spacing: 0.2rem;
        opacity: .5;
    }
    15%, 50%, 85% {
        letter-spacing: 0.3rem;
        opacity: 1;
    }
} */

@media (max-width: 345px) {
    #hero_container {
        margin-top: 6.75rem;
    }
}

/* || ABOUT SECTION */
#about_section {
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#about_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.75rem;
    width: clamp(var(--min_width), 100%, var(--max_width));
    height: 100%;
    margin-bottom: 8rem;
}

/* #about_container h1, 
#about_container h1::after,
#about_container h1::before { */
#about_container h1 {
    position: relative;
    margin-block: 0;
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 4.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0475rem;
    color: #1a1a1a;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary);
    text-align: center;
}

/* 
#about_container h1::after,
#about_container h1::before {
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    content: "SHERIDAN COMPUTER SCIENCE CLUB";
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secondary);
    text-align: center;
    opacity: .15;
} */

#about_container h1::before {
    top: 12.5rem;
    opacity: .075;
}

#about_container h1 span {
    color: var(--secondary);
}

#about_content {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    gap: 1.5rem;
}

#about_content p {
    margin: 0;
    max-width: 65rem;
    color: #9D9D9D;
    font-family: "Geist Mono";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

#about_content #quote_author {
    position: absolute;
    right: 0;
    bottom: 0;
    width: fit-content;
}

@media (max-width: 1400px) {
    #about_container {
        padding-inline: var(--inline_padding);
    }

    #about_container h1 {
        font-size: 4rem;
        text-align: start;
        width: 100%;
    }

    #about_content p {
        width: 100%;
        font-size: 1.125rem;
    }

    #about_content #quote_author {
        bottom: -2rem;
    }
}

@media (max-width: 1200px) {
    #about_container {
        align-items: flex-start;
    }

    #about_container h1 {
        max-width: 42.5rem;
    }


}

@media (max-width: 768px) {
    #about_container {
        margin-bottom: 6rem;
    }

    #about_container h1 {
        font-size: 2.5rem;
        max-width: 30rem;
    }

    #about_content p {
        font-size: 1rem;
    }
}

@media (max-width: 470px) {
    #about_container h1 {
        font-size: 2rem;
    }
}

@media (max-width: 386px) {
    #about_container h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 331px) {
    #about_container h1 {
        font-size: 1.5rem;
    }
}