/* || HERO SECTION */
#hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: var(--block_padding) var(--inline_padding);
}

#hero_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border-radius: 0.9375rem;
}

#hero_canvas {
    border-radius: 0.9375rem;
    background: radial-gradient(60.78% 60.78% at 50% 50%, #465072 0%, #292E3A 100%);
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #5e9978 0%, #496755 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #467259 0%, #293a30 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #46726c 0%, #293a36 100%); */
    cursor: all-scroll;
    transform: transale3d(0,0,0);
}

#hero_hint {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 1.75rem;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    color: var(--light_50);
    text-align: center;
    font-family: "Geist Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    user-select: none;
    /* animation: blinking 6s infinite; */
}

@media (max-width: 768px) {
    #hero_section {
        height: 90svh;
    }
    
    #hero_hint {
        visibility: hidden;
    }
    #hero_hint::after {
        content: "Double-tap or press enter to start.";
        visibility: visible;
    }
}

@media(max-width: 430px) {
    #hero_hint {
        padding-inline: 1rem;
        font-size: 0.875rem;
        bottom: 1.5rem;
    }
}

/* 
@keyframes blinking {
    0%, 100% {
        letter-spacing: 0.2rem;
        opacity: .5;
    }
    15%, 50%, 85% {
        letter-spacing: 0.3rem;
        opacity: 1;
    }
} */

@media (max-width: 345px) {
    #hero_container {
        margin-top: 6.75rem;
    }
}