/* || HERO SECTION */
#hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: var(--block_padding) var(--inline_padding);
    box-sizing: border-box;
}

#hero_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 0.9375rem;
}

#hero_canvas {
    border-radius: 0.9375rem;
    background: radial-gradient(60.78% 60.78% at 50% 50%, #465072 0%, #292E3A 100%);
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #5e9978 0%, #496755 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #467259 0%, #293a30 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #2f4d3c 0%, #1e2b24 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #544672 0%, #2e293a 100%); */
    /* background: radial-gradient(60.78% 60.78% at 50% 50%, #724646 0%, #3a2929 100%); */
    cursor: all-scroll;
    transform: transale3d(0,0,0);
}