/* || MINILEETS SECTION */
#minileets_section {
    padding-top: 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#minileets_container {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    gap: 8rem;
    padding-inline: calc(var(--inline_padding)*3);
}

.confetti {
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
}

/* || PUZZLE CONTAINER */
#puzzle_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 2rem;
    height: 100%;
    margin-left: 5rem;
}



#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: .5rem;
}

#header h1 {
    margin: 0;
    color: var(--light);
    text-align: center;
    font-family: "Space Grotesk";
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.12rem;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.875rem;
    align-self: stretch;
}

#controls button {
    background: none;
    border: none;
    padding: 0;
    cursor: not-allowed;
    transition: scale .15s ease-in-out, filter .15s ease-in-out;
}

#controls #hint {
    cursor: pointer;
}

#controls button:hover {
    scale: 1.15;
    filter: brightness(2);
}

#controls #prev {
    transform: scaleX(-1);
}

/* || PUZZLE CONTENT */
#puzzle {
    width: 100%;
    height: 100%;
    color: var(--light);

}

#puzzle * {
    margin: 0;
    font-family: "Geist Mono"!important;
    color: #569CD6;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.85rem;
    user-select: none;
}

.code_line:hover div {
    background: var(--light_5);
}

/* || PUZZLE DESCRIPTION */
#description {
    margin-top: 4.25rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-flow: column nowrap;
    width: 27.5%;
    height: 100%;
}

#description span {
    color: var(--light_75);
    width: 100%;
    text-wrap: wrap;
    font-family: "Geist Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color .2s ease-in-out;
}

#description:hover span {
    color: var(--light_75)!important;
}

@media (max-width: 1200px) {
    #puzzle_container {
        width: 100%;
    }

    #description {
        width: 100%;
    }
}

@media (max-width: 768px) { 
    #minileets_section {
        padding-top: 4.5rem;
    }

    #minileets_container {
        flex-flow: column nowrap;
        padding-inline: var(--inline_padding);
        gap: 0;
    }

    #puzzle_container {
        margin: 0;
        gap: 1.5rem;
    }

    #description {
        width: 100%;
    }
}