
.nav_container {
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}  

.nav[data-mode=mini] {
    width: clamp(var(--min_width), 74.4%, var(--max_width));
    /* transition: width .5s ease; */
}
.nav[data-mode=full] {
   width: clamp(var(--min_width), 100%, var(--max_width));
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 0 var(--inline_padding);
    height: 4.4375rem;
    background-color: var(--dark);
    color: var(--light)
}

.nav_decal {
    position: absolute;
}

.nav_decal:first-child {
    left: calc(-101px / 1.5);
    top: calc(2rem - 2px);
}

.nav_decal:nth-child(2) {
    display: none;
}
.nav_decal:nth-child(3) {
    right: calc(var(--inline_padding) - 1px);
    top: calc(4.4375rem - 1px);
}

#logo {
    z-index: 1;
    display: flex;
    align-items: center;
    color: var(--light);
    font-family: "Geist";
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: -0.0225rem;
    transition: opacity .1s;
}

#logo span {
    margin-left: .5rem;
    opacity: .35;
    font-size: 1rem;
}

#logo:hover {
    opacity: .8;
}

#mini_logo {
    display: none;
    width: 4rem;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list_item.active a {
    color: var(--light);
}

.list_item a {
    font-family: "Geist";
    text-decoration: none;
    color: var(--light_95);
    font-family: Geist;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color .1s ease-in-out;
}

.list_item a:hover {
    color: var(--light_80);
}

#discord {
    margin-inline: 0.5rem 1.5rem;
    width: 1.875rem;
    height: 1.875rem;
    cursor: pointer;
}

#contact_link {
    display: none;
}

.contact_button a {
    list-style: none;
    letter-spacing: -0.0225rem;
    color: var(--light);
    background-color: var(--dark);
    display: flex;
    box-sizing: border-box;
    padding: 1.25rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    font-weight: 115;
    border-radius: 3.125rem;
    transition: background-color .2s, color .2s;
}

.contact_button a:hover {
    color: var(--light);
    background-color: var(--secondary);
}

.contact_button.active a {
    color: var(--light);
    background-color: var(--secondary);
}

.burger {
    display: none;
    flex-flow: column nowrap;
    gap: 4px;
    z-index: 3;
    cursor: pointer;
    transition: opacity .1s ease-in-out;
}

.burger:hover {
    opacity: .8;
}

.burger:active {
    opacity: .6;
}

.burger div {
    width: 1.75rem;
    height: 3px;
    background: var(--light_95);
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 1057px) {
    .list {
        z-index: 3;
        position: fixed;
        top: 0;
        left: -50%;
        height: 100%;
        width: 50%;
        flex-flow: column nowrap;
        background-color: var(--dark);
        box-sizing: border-box;
        transition: left 0.3s ease;
    }
    
    .contact_button {
        display: none;
    }


    #contact_link {
        display: unset;
    }

    #mini_logo {
        display: unset;
    }

    .overlay.active{
        pointer-events: all;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.3s ease;
    }

    .list_item a {
        font-size: 1.2rem;
    }

    #discord {
        margin: 0;
    }

    .nav[data-toggled=true] .list{
        left: 0;
        transition: left 0.3s ease;
    }
    
    .burger {
        display: flex;
    }
}

@media (max-width: 768px) {
    .nav[data-mode=mini] {
        width: 20rem;
    }

    .nav[data-toggled=true] .list {
        left: 0;
        transition: left 0.3s ease;
    }

    .nav_decal:first-child {
        display: none;
    }

    .nav_decal:nth-child(2) {
        display: unset;
        top: calc(var(--block_padding) - 2px);
        left: calc(-110px / 1.5);
        /* background-color: lime; */
    }

}